/* 
 * Colour scheme: http://colorschemedesigner.com/#3l61SsOsOWTXl
 *
 * To try:
 *  http://colorschemedesigner.com/#3N62rsOsO----
 *  http://colorschemedesigner.com/#2I62rsOsO----
 *  http://colorschemedesigner.com/#3p61XsOsOK-K-
 */

@color_pri_ll:  #d7f4f8;
@color_pri_l:   #84eaf8;
@color_pri:     #107d8d;
@color_pri_d:   #28464b;
@color_pri_dd:  #002b30;
@color_a_ll:    #dbe3f9;
@color_a_l:     #90acf9;
@color_a:       #1f409a;
@color_a_d:     #2f3952;
@color_a_dd:    #010f35;
@color_b_ll:    #b8fae0;
@color_b_l:     #83fa9e;
@color_b:       #11ad34;
@color_b_d:     #305c3a;
@color_b_dd:    #003c0e;
@color_c_ll:    #feecdb;
@color_c_l:     #febf85;
@color_c:       #e67a17;
@color_c_d:     #7a5c40;
@color_c_dd:    #4f2601;

@color_text:            #000;
@color_text_alt:        #777;
@color_text_inverse:    #fff;

@body_text: @color_text;
@body_bg: #fff;

@link_text: @color_a_dd;
@link_hover_text: @color_a;

@header_text: @color_text_inverse;
@header_bg: @color_pri_dd;
@header_accent: @color_pri;

@progbar_closed_fg: @color_text_alt * 1.5;
@progbar_closed_bg: #fff;
@progbar_stopped_fg: #555;
@progbar_stopped_bg: #ccc;
@progbar_downloading_fg: @color_a;
@progbar_downloading_bg: @color_a_l;
@progbar_seeding_fg: @color_b;
@progbar_seeding_bg: @color_b_l;

@table_head_bg: @color_pri_d;
@table_head_text: @color_text_inverse;
@row_bg1: @color_c_ll;
@row_bg2: @color_pri_ll;
@row_hover_bg: @color_pri_l;

@good_text: #1a1;
@bad_text: #f11;

@tab_border_radius: 3px;

@progbar_border_width: 1px;
@progbar_border_padding: 0px;
@progbar_border_radius_inner: 0px;
/*@progbar_border_radius_outer: @progbar_border_radius_inner + @progbar_border_padding + @progbar_border_width;*/
@progbar_border_radius_outer: 3px;
@progbar_outer_height: 5px;

@rounded_corners (@radius: 3px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

@rounded_corners_top (@radius: 3px) {
    -moz-border-radius-topleft: @radius;
    -moz-border-radius-topright: @radius;
    -webkit-border-top-left-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}

@rounded_corners_bottom (@radius: 3px) {
    -moz-border-radius-bottomleft: @radius;
    -moz-border-radius-bottomright: @radius;
    -webkit-border-bottom-left-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: small;
    background-color: #fff;
    color: #000;
}

a {
    /*text-decoration: none;*/
    color: @link_text;
    
    :hover {
        text-decoration: none;
        color: @link_hover_text;
    }
}

a img {
    border: none;
}

td,
th {
    padding: 3px 5px;
}

th {
    vertical-align: bottom;
}

/* TODO: does this work in any version of IE? */
input[type="checkbox"] {
    padding: 0;
    margin: 0;
}

.clearer {
    clear: both;
    line-height: 0;
    height: 0px;
}

.rightalign {
    text-align: right;
}

img.icon {
    vertical-align: bottom;
}

.hasicon {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}

.hasicon_right {
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}

.good {
    color: @good_text;
}
.bad {
    color: @bad_text;
}

.progbar_outer {
    height: @progbar_outer_height;
    padding: @progbar_border_padding;
    border: @progbar_border_width solid;
    @rounded_corners(@progbar_border_radius_outer);
}

.progbar_inner {
    height: 100%;
    @rounded_corners(@progbar_border_radius_inner);
}

span.progbar_outer, span.progbar_inner {
    display: inline-block;
    vertical-align: middle;
}

@progbar_style (@fg; @bg; @width: auto) {
    .progbar_outer {
        background-color: @bg;
        border-color: @fg;
        width: @width;
    }
    .progbar_inner {
        background-color: @fg;
    }
}

#header {
    padding: 0 30px 0 30px;
    border-top: 5px solid @header_accent;
    background-color: @header_bg;
    color: @header_text;
    background-image: url('img/headerbg.png');
    background-position: top left;
    background-repeat: repeat-x;

    h1 {
        padding: 0;
        margin: 0 0 10px 0;
        clear: left;
    }

    .sysinfo {
        float: left;
        text-align: left;
        padding: 2px 0;
        @progbar_style(@header_text; transparent; 120px);
    }
}

#navigation {
    text-align: right;
    font-weight: bold;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        ul;
        display: inline;
        margin-left: 5px;
    }

    a {
        display: inline-block;
        text-decoration: none;
        padding: 2px 10px 4px 10px;
        color: @header_text;
        @rounded_corners_bottom(@tab_border_radius);

        :hover {
            background-color: @header_accent;
        }
    }

    a.current {
        background-color: @header_accent;
    }

    a.hasicon {
        background-position: 10px center;
        padding-left: 30px;
    }
}

#subnavigation {
    text-align: right;
    font-weight: bold;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        ul;
        display: inline;
        margin-left: 5px;
    }

    a {
        display: inline-block;
        text-decoration: none;
        padding: 4px 10px 2px 10px;
        color: #fff;
        @rounded_corners_top(@tab_border_radius);

        :hover {
            background-color: @header_accent;
        }
    }

    a.current {
        background-color: @body_bg;
        color: @body_text;
    }
}

#content_outer {
    padding: 10px 30px;
}

#torrentlist {
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li.torrent {
        margin-top: 10px;
        border: 1px solid @color_text_alt * 1.5;

        span.label {
            color: @color_text_alt;
        }

        span.name {
            display: block;
            padding: 5px;
        }

        ul.info {
            text-align: right;

            li {
                display: inline-block;
                padding: 0 5px 5px 5px;
                text-align: left;
            }

            li.progress, li.size, li.downrate, li.uprate, li.ratio {
                width: 100px;
            }

            li.buttons {
                float: left;
            }

            li.progressbar {
                display: block;
                padding: 0;
                clear: both;

                .progbar_outer, .progbar_inner {
                    border: none;
                    height: 3px;
                }
            }
        }
    }
}

.closed { @progbar_style(@progbar_closed_fg; @progbar_closed_bg); }
.stopped { @progbar_style(@progbar_stopped_fg; @progbar_stopped_bg); }
.downloading { @progbar_style(@progbar_downloading_fg; @progbar_downloading_bg); }
.seeding { @progbar_style(@progbar_seeding_fg; @progbar_seeding_bg); }

#status_key {
    .progbar_outer {
        width: 20px !important;
    }

    .progbar_inner {
        width: 50% !important;
    }
}
